<div id="spinnerContainer">
    <div hidden id="spinner"></div>
</div>
<div class="maincontainer">
    <div class="tabscontainer">
        <div class="tablinks">
            <button id="SchemaButton" class="tablink" onclick="openTab('Schema')">Schema</button>
            <button id="OutputXmlButton" class="tablink" onclick="openTab('OutputXml')">Output XML</button>
        </div>
        <div id="Schema" class="tabcontent"></div>
        <div id="OutputXml" class="tabcontent"></div>
    </div>
    <div class="controlscontainer">
        <button onclick="generateXml(false)" class="controlbtn">Generate XML</button>
        <button onclick="cleanXml()" class="controlbtn">Clean XML</button>
    </div>
</div>